/* global */
body,
h1,
h2,
h3,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
    font-family: 'Noto Serif';
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
}

.header__menu {
    position: relative;
}

.header__menu-shop {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu-shop::after {
    content: '';
    display: inline-block;
    background: url("../assets/carrinho.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.header-menu-shop-cart-quantity {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    right: -3px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    top: -1px
}

.logo {
    width: 80px;
    cursor: pointer;
}

/* Lista de produtos */
.product-list {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.product-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0.1);
    cursor: pointer;
}

.product-list__img {
    max-width: 300px;
    margin-right: 40px;
}

.product-list__item-price {
    color: rgba(0, 0, 0, 0.5);
}

/* Dialog dos produtos */
.product-dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-dialog::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.product-dialog__container {
    display: grid;
    align-items: end;
    position: relative;
    z-index: 1;
    gap: 50px;
    padding: 0px 50px 50px 0;
    animation: fadeIn .3s forwards;
    background: linear-gradient(to right, transparent 250px, #fff 250px);
}

.product-dialog__container-img {
    grid-column: 1;
    margin-top: 50px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-dialog__container-img img {
    display: block;
    max-width: 300px;
}

.product-dialog__details {
    max-width: 600px;
    grid-column: 2;
}

.product-dialog__button-close-dialog {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #000;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product-dialog__product-name {
    font-size: 3rem;
}

.product-dialog__close-dialog {
    margin-top: 80px;
    background: #000;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    font-family: 'Noto Serif';
}

.product-dialog__review {
    grid-column: 2;
}

.product-dialog__review-title {
    font-size: 1.75rem;
}

.product-dialog__review-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.product-dialog__review-description {
    color: rgba(0, 0, 0, 0.7);
    margin: 20px 0 5px 0;
}

.product-dialog__review-username {
    font-weight: bold;
}

.dialog-alert {
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
}

.dialog-alert__message {
    background: green;
    color: #fff;
    display: inline-block;
    padding: 6px 40px;
}

.active {
    display: block;
    animation: fadeInDown .3s forwards;
}


.product-selected-dialog::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
}

.product-selected-dialog {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: none;
}

.product-selected-dialog.active {
    display: block;
}

.product-selected-dialog__container {
    position: relative;
    margin: 80px auto;
    background: #fff;
    padding: 40px;
    max-width: 800px;
    animation: fadeInDown .3s forwards;
}

.product-selected_dialog__item {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.product-selected_dialog__button-remove {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.product-selected_dialog__button-remove img {
    width: 20px;
    height: 20px;
}

.product-selected-dialog__title {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.product-selected_dialog__price {
    text-align: right;
}

.product-selected_dialog__totals {
    text-align: right;
    padding: 10px 50px 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
}

.product-selected-dialog__button-close-dialog {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #000;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.finalize-purchase-button {
    display: block;
    margin-left: auto;
    background: #000;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    padding: 10px 25px;
    border: none;
    font-family: 'Noto Serif';
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, -30px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0px, 0);
        opacity: 1;
    }
}