<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <img class="logo" src="./assets/techno.svg" alt="logo" />
        <div class="carrinho-menu">{{totalShop | currencyType}} | {{shopProducts.length}}</div>
      </header>
      <section class="products">
        <div
          v-for="product in products"
          :key="product.id"
          class="product-item"
          @click="openModal(product.id)"
        >
          <img :src="product.img" class="product-img" />
          <div class="product-info">
            <span class="product-price">{{product.price | currencyType}}</span>
            <h2 class="product.name">{{product.name}}</h2>
          </div>
        </div>
      </section>

      <section v-if="productDetail" class="product-modal" @click="closeModal">
        <div class="modal-container">
          <div class="modal-img">
            <img :src="productDetail.productImg" :alt="productDetail.name" />
          </div>
          <div class="modal-details">
            <button @click="productDetail = false" class="close-modal-btn">
              x
            </button>
            <span class="modal-price">
              {{productDetail.price | currencyType}}</span
            >
            <h2 class="modal-name">{{productDetail.name}}</h2>
            <p class="modal-description">{{productDetail.description}}</p>
            <button
             :class="[productDetail.stock > 0 ? 'modal-btn' : ['modal-btn', 'btn-disabled']]"
              type="button"
              @click="addProduct"
            >
             {{buttonTitle}}
            </button>
          </div>
          <div class="modal-reviews"></div>
          <div class="reviews">
            <h2 class="review">Avaliações</h2>
            <ul>
              <li v-for="review in productDetail.reviews" class="review-list">
                <p class="review-description">{{review.description}}</p>
                <p class="review-username">
                  {{review.name}} | {{review.stars}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="dialog-alert" :class="{active: activeAlert}">
        <p class="dialog-alert-message">{{messageAlert}}</p>
      </div>
    </div>
  </body>
</html>
