<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <script defer src="js/main.js"></script>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <!-- Header -->
      <header class="header">
        <img src="./assets/techno.svg" alt="logo" class="logo" />
        <div class="header__menu" @click="showProductsSelected = true">
          <div class="header__menu-shop">
            {{totalProductsPrice | currencyType}} | {{productsInCart.length}}
          </div>
          <div class="header-menu-shop-cart-quantity">
            {{productsInCart.length}}
          </div>
        </div>
      </header>

      <!-- Lista de Produtos -->
      <section class="product-list">
        <div
          v-for="product in products"
          :key="product.id"
          class="product-list__item"
          @click="openDialog(product.id)"
        >
          <img
            :src="product.img"
            :alt="product.name"
            class="product-list__img"
          />
          <div class="product-list__item-info">
            <span class="product-list__item-price">
              {{product.price | currencyType}}
            </span>
            <h2 class="product-list__item-name">{{product.name}}</h2>
          </div>
        </div>
      </section>

      <!-- Modal com os produtos -->
      <section v-if="productDetail" class="product-dialog" @click="closeDialog">
        <div class="product-dialog__container">
          <div class="product-dialog__container-img">
            <img
              :src="dialog.products.productImg"
              :alt="dialog.products.name"
            />
          </div>

          <div class="product-dialog__details">
            <button
              class="product-dialog__button-close-dialog"
              @click="productDetail = false"
            >
              X
            </button>

            <span class="product-dialog__price">
              {{dialog.products.price | currencyType}}
            </span>

            <h2 class="product-dialog__product-name">
              {{dialog.products.name}}
            </h2>

            <span class="product-dialog__description">
              {{dialog.products.description}}
            </span>
            <br />

            <button
              v-if="productIsAlready"
              type="button"
              :class="[dialog.products.stock > 0 ? 'product-dialog__close-dialog' : ['product-dialog__button-close-dialog', 'product-dialog__button-disabled']]"
              @click="showProducts"
            >
              Ver Carrinho
            </button>
            <button
              v-else
              type="button"
              :class="[dialog.products.stock > 0 ? 'product-dialog__close-dialog' : ['product-dialog__button-close-dialog', 'product-dialog__button-disabled']]"
              @click=" addProduct "
            >
              {{buttonTitle}}
            </button>
          </div>

          <div class="product-dialog__reviews"></div>
          <div class="product-dialog__review">
            <h2 class="product-dialog__review-title">Avaliações</h2>
            <ul>
              <li
                v-for="review in dialog.products.reviews"
                class="product-dialog__review-list"
              >
                <p class="product-dialog__review-description">
                  {{review.description}}
                </p>

                <p class="product-dialog__review-username">
                  {{review.name}} | {{review.stars}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Modal com os produtos selecionados -->
      <section
        v-if="showProductsSelected"
        class="product-selected-dialog"
        :class="{active: showProductsSelected}"
        @click="closeProductSelectedDialog"
      >
        <div class="product-selected-dialog__container">
          <button
            class="product-selected-dialog__button-close-dialog"
            @click="showProductsSelected = false"
          >
            x
          </button>
          <h2 class="product-selected-dialog__title">Carrinho</h2>
          <div v-if="productsInCart.length">
            <ul class="product-selected-dialog__list">
              <li
                v-for="(product, indexProduct) in productsInCart"
                class="product-selected_dialog__item"
              >
                <p>{{product.name}}</p>
                <!-- <div style="display: flex"> -->
                <!-- <div>
                  </div> -->
                <!-- <div style="margin-left: 15px">
                    <button
                      style="
                        border: none;
                        outline: none;
                        background: #000; color: #fff; cursor: pointer;
                      "
                    >
                      -
                    </button>
                    {{product.quantity}}
                    <button
                      style="
                        border: none;
                        outline: none;
                        background: #000; color: #fff; cursor: pointer;
                      "
                      @click="addProductInCart(product)"
                    >
                      +
                    </button>
                  </div> -->
                <!-- </div> -->
                <p class="product-selected_dialog__price">
                  {{product.price | currencyType}}
                </p>
                <button
                  class="product-selected_dialog__button-remove"
                  @click="removeProduct(indexProduct)"
                >
                  <img src="./assets/trash.svg" alt="" />
                </button>
              </li>
            </ul>
            <p class="product-selected_dialog__totals">
              {{totalProductsPrice | currencyType}}
            </p>
            <button class="finalize-purchase-button">Finalizar compra</button>
          </div>
          <p v-else>Seu carrinho está vazio :(</p>
        </div>
      </section>

      <div class="dialog-alert" :class="{active: dialogAlertActive}">
        <p class="dialog-alert__message">{{dialogAlertMessage}}</p>
      </div>
    </div>
  </body>
</html>
